body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
}

nav ul {
    list-style-type: none; /* 移除列表标记 */
    padding: 0;
    background-color: #eee;
    margin: 0;
    text-align: center; /* 居中导航文本 */
    border-bottom: 1px solid #ccc;
}

nav ul li {
    display: inline-block; /* 修改为内联块元素以横向排列 */
    margin-right: 20px; /* 间隔 */
}

nav ul li a {
    text-decoration: none; /* 移除下划线 */
    color: black; /* 链接颜色 */
    font-weight: bold; /* 字体加粗 */
    padding: 10px; /* 增加填充，使链接更易点击 */
}

nav ul li a:hover {
    background-color: #ddd; /* 鼠标悬停时的背景色 */
}

header {
    text-align: center;
    padding: 20px;
}

header h1 {
    margin-top: 10px;
    font-size: 2em;
}

header h2, header h3 {
    color: #333;
    margin: 5px 0;
}

.social-media a {
    margin-right: 10px;
    text-decoration: none;
    color: #0077b5; /* LinkedIn blue color */
}

#bio {
    display: flex;
    align-items: center;
    padding: 20px;
    border-top: 1px solid #ccc;
}

#bio img {
    border-radius: 50%;
    margin-right: 20px;
    width: 200px; /* Adjust the size as needed */
}

#bio p {
    flex: 1;
    line-height: 1.6;
}
